<a href="https://colab.research.google.com/github/beginnener/SamsungInnovationCampus/blob/main/Natasha_Adinda_Cantika_Universitas_Pendidikan_Indonesia_List%26Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# membuat list nama siswa
siswa = ["Natasha", "Cikal", "Najwa", "Ali", "Nene"]
print(f"List siswa: {siswa}")

List siswa: ['Natasha', 'Cikal', 'Najwa', 'Ali', 'Nene']

In [20]:
# membuat dictionary (key = nama siswa, value = nilai ujian siswa)
nilai_siswa = {
    "Natasha":90,
    "Cikal":90,
    "Najwa":85,
    "Ali":86,
    "Nene":75
}

In [21]:
# append satu nama siswa baru ke list siswa
siswa.append("Mingyu")
print(f"List siswa updated: {siswa}")

siswa.remove("Nene")
print(f"List siswa updated: {siswa}")

List siswa updated: ['Natasha', 'Cikal', 'Najwa', 'Ali', 'Nene', 'Mingyu']
List siswa updated: ['Natasha', 'Cikal', 'Najwa', 'Ali', 'Mingyu']

In [22]:
# cetak nama siswa pertama dan terakhir dari list, lalu cetak 3 siswa terakhir menggunakan slicing

print(f"Siswa pertama: {siswa[0]}") # index 0
print(f"Siswa terakhir: {siswa[4]}") # index 4
print(f"Tiga siswa terakhir: {siswa[-3:]}") # slicing 3 siswa terakhir

Siswa pertama: Natasha
Siswa terakhir: Mingyu
Tiga siswa terakhir: ['Najwa', 'Ali', 'Mingyu']

In [23]:
# gunakan suatu cara untuk print seluruh isi dari list siswa dengan format index, nama siswa
i = 0
while i < len(siswa) :
 print(f"{i},  {siswa[i]}")
 i += 1

0,  Natasha
1,  Cikal
2,  Najwa
3,  Ali
4,  Mingyu

In [24]:
# ubah nilai ujian salah satu siswa dari dictionary, lalu hapus salah satu data siswa dengan pop(), dan cetak dictionary hasil perubahan
nilai_siswa["Najwa"] = 96
nilai_siswa.pop("Ali")
print(f"Dictionary siswa updated: {nilai_siswa}")

Dictionary siswa updated: {'Natasha': 90, 'Cikal': 90, 'Najwa': 96, 'Nene': 75}

In [25]:
# ganti key nama siswa dari dictionary
nilai_siswa["Woozi"] = nilai_siswa.pop("Natasha")
print(f"Dictionary siswa updated: {nilai_siswa}")

Dictionary siswa updated: {'Cikal': 90, 'Najwa': 96, 'Nene': 75, 'Woozi': 90}